Repository meysam-aghili/resume: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build webapp frontend, deploy webapp, deploy proxy, build airflow, deploy airflow

build webapp frontend:
  stage: build
  script:
  - cd webapp
  - source .env
  - docker build -t "${CI_REGISTRY_IMAGE}/frontend:${FRONTEND_VERSION}" -f src/frontend/Dockerfile ./src/frontend
  - docker push "${CI_REGISTRY_IMAGE}/frontend:${FRONTEND_VERSION}"

deploy webapp:
  stage: deploy
  script:
  - ./parse_compose_envs.sh webapp/docker-compose.yml .env webapp/.env
  - docker stack deploy -c webapp/docker-compose.prod.yml --with-registry-auth webapp

deploy proxy:
  stage: deploy
  script:
  - ./parse_compose_envs.sh proxy/docker-compose.yml .env
  - docker stack deploy -c proxy/docker-compose.prod.yml --with-registry-auth proxy

build airflow:
  stage: build
  script:
  - cd airflow
  - source .env
  - docker build -t "${CI_REGISTRY_IMAGE}/airflow:${VERSION}" -f Dockerfile .
  - docker push "${CI_REGISTRY_IMAGE}/airflow:${VERSION}"

deploy airflow:
  stage: deploy
  script:
  - ./parse_compose_envs.sh airflow/docker-compose.yml .env airflow/.env
  - docker stack deploy -c airflow/docker-compose.prod.yml --with-registry-auth airflow

asd
  proxy/configs/nginx.conf
  proxy/docker-compose.yml
Due: deploy proxy

fix ui
  .env
  .gitlab-ci.yml
  .vscode/settings.json
  Makefile
  airflow/docker-compose.yml
  build_dockerfile.sh
  deploy_stack.sh
  docker/docker-compose.yml
  proxy/configs/nginx.conf
  proxy/docker-compose.yml
  webapp/docker-compose.yml
  webapp/src/frontend/Dockerfile
  webapp/src/frontend/package-lock.json
  webapp/src/frontend/package.json
  webapp/src/frontend/src/app/components/Resume.tsx
  webapp/src/frontend/src/app/models/data.tsx
  webapp/src/frontend/src/app/statics/images/portfolio/airflow.png
  webapp/src/frontend/src/app/statics/images/portfolio/github.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-1.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-10.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-11.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-2.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-3.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-4.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-5.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-6.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-7.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-8.jpg
  webapp/src/frontend/src/app/statics/images/portfolio/portfolio-9.jpg
Due: build webapp frontend, deploy webapp, deploy proxy, build airflow, deploy airflow

update readme
  README.md
Due: none

add resume pdf
  webapp/src/frontend/src/app/models/data.tsx
  webapp/src/frontend/src/app/statics/assets/MeysamAghiliResume.pdf
  webapp/src/frontend/src/app/statics/assets/MeysamAghiliResumeDE.pdf
Due: none

fix statics
  webapp/src/frontend/public/assets/MeysamAghiliResume.pdf
  webapp/src/frontend/src/app/models/data.tsx
Due: none

Path conditions:
  build webapp frontend: any of: webapp/**
  deploy webapp: any of: webapp/**
  deploy proxy: any of: proxy/**
  build airflow: any of: airflow/**
  deploy airflow: any of: airflow/**
